.wrapper {
  position: relative;
}

.decor {
  position: absolute;
  right: -5%;
  top: -15%;
  width: 180px;
  pointer-events: none;
  opacity: 0.8;

  @include respond(mobile) {
    width: 120px;
    right: -2%;
    top: -10%;
  }

  @include respond(ultrawide) {
    width: 250px;
  }
}
